{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Manish Raj</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Manish raj. Currently Pursuing Bachelors in
                    Engineering.My Main Focus is on Web Development, Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='manishraj.mr852@gmail.com'><img
                        src="https://img.icons8.com/carbon-copy/100/gmail-new.png" height="40" width="40"></a> :
                manishraj.mr852@gmail.com<br><br>
                <a target="_blank" href='manish_raj.medium.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : Manish raj<br><br>
                <a target="_blank" href='https://github.com/M1973n'><img
                        src="https://img.icons8.com/dotty/80/instagram-new.png" height="40" width="40"></a> :
                Manish raj<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/Manishraj'><img
                        src="https://img.icons8.com/carbon-copy/100/gmail-new.png" height="40" width="40"></a> :
                Manish raj<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Manish raj</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am manish raj. I am an entrepreneur, currently
                     Pursuing bachelors in Electronic and communication. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='manishraj.mr852@gmail.com'><img
                        src="https://img.icons8.com/carbon-copy/100/gmail-new.png" height="40" width="40"></a> :
                manishraj@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/manishraj'><img
                         src="https://img.icons8.com/dotty/80/instagram-new.png" height="44" width="44"></a> :
                manish raj<br><br>
                <a target="_blank" href='https://www.linkedin.com/manishraj'><img
                        src="https://img.icons8.com/ios/50/linkedin.png" height="40" width="40"></a> :
                manish_raj<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}